# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

dist/
build/

nbproject/*
!nbproject/project.properties
!nbproject/project.xml

/Wisdom-ejb/nbproject/private/
/Wisdom-ejb/nbproject/ant-deploy.xml
/Wisdom-ejb/nbproject/build-impl.xml
/Wisdom-ejb/nbproject/genfiles.properties
/Wisdom-war/nbproject/private/
/Wisdom-war/nbproject/ant-deploy.xml
/Wisdom-war/nbproject/build-impl.xml
/Wisdom-war/nbproject/genfiles.properties
/Wisdom-ejb/setup/glassfish-resources.xml
