/*Author Login*/
.login-panel {
    margin: 190px auto 0 auto;
    text-align: center;
    width: 380px;
    min-height: 440px;
    font-size: 14px;
}

.login-panel h3{
    padding-bottom: 10px;
}

.login-input {
    width: 350px;
    height: 40px;
}

.login-button {
    width: 360px;
    height: 45px;
}

/*Author Signup*/
.signup-panel{
    margin: 80px auto 0 auto;
    text-align: center;
    width: 50%;
    min-height: 500px;
    font-size: 14px;
}

.signup-panel .ui-inputfield {
    width: 100%;
    height: 35px;
}

.signup-button{
    width: 80%;
    height: 45px;
}

/*Fixed CSS*/
.ui-message{
    text-align: left;
}