/*Author Login*/
.login-panel {
    margin: 190px auto 0 auto;
    text-align: center;
    width: 380px;
    min-height: 440px;
    font-size: 14px;
}

.login-panel h3{
    padding-bottom: 10px;
}

.login-input {
    width: 350px;
    height: 40px;
}

.login-button {
    width: 360px;
    height: 45px;
    margin-left: 2px;
}

.login-panel a:link {
  color: #636FB6;
  text-decoration: none;
}

.login-panel a:link:hover  {
  text-decoration: underline;
}

/*Author Signup*/
.signup-panel{
    margin: 80px auto 0 auto;
    text-align: center;
    width: 50%;
    min-height: 500px;
    font-size: 14px;
}

.signup-panel .ui-inputfield {
    width: 100%;
    height: 35px;
}

.signup-button{
    width: 80%;
    height: 45px;
}

/*Menu Template*/
.logo-image {
    height: 100%;
    width: auto;
}

.ui-menu .ui-menuitem-link {
    font-size: 15px;
    padding-bottom: 7px;
    font-weight: 300;
    color: #31353D;
}

/*Questions*/
.summary-panel {
    border: none;
    font-size: 14px;
}

.summary-number {
    font-size: 20px;
    font-weight: 500;
}

.summary-panel .update-button {
    font-size: 10px;
    margin-left: 10px;
    font-weight: 400;
}

/*Articles*/
.article-header .ui-widget-content {
    border: none;
}

.article-header .create-button {
    
}

/*Primefaces CSS*/
.ui-message{
    text-align: left;
}

.ui-widget-header {
    background: none;
}

/*Datatable*/
.ui-datatable .ui-column-filter {
    width: 90%;
    display: none;
}

.ui-datatable .ui-state-default {
    background: none;
    font-weight: 500;
    color: #636FB6;
}